/******************************************************************
Site Name: The Lovely Geek 2016
Author: Cristina Robinson

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/

/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {

	// normalize: http://necolas.github.io/normalize.css/
	@import "partials/normalize";

	// Sass variables
	@import "partials/variables";

	// typography
	@import "partials/typography";

	// Sass functions
	@import "partials/functions";

	// import mixins
	@import "partials/mixins";

	width: 731px;
	font-family: $jubilat;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  -webkit-font-smoothing: antialiased;

  /*********************
	LINK STYLES
	*********************/

	a, a:visited {
		color: $link-color;

		/* on hover */
		&:hover, &:focus {
			color: $link-hover;
		}

		/* on click */
		&:active {

		}

		&:link {

			-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
		}
	}

	/******************************************************************
	H1, H2, H3, H4, H5 STYLES
	******************************************************************/

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		text-rendering: optimizelegibility;
		font-weight: 500;
		a {
			text-decoration: none;
		}
	}

	h1, .h1 {
		font-family: $brandon;
		font-size: 2em;
		line-height: 1.333em;
		text-transform:uppercase;
		color:$dark-turq;
	}

	h2, .h2 {
		font-family: $brandon;
		font-size: 1.75em;
		line-height: 1.1em;
		margin-bottom: 0.375em;
		text-transform:uppercase;
		color:$light-turq;
	}

	h3, .h3 {
		font-family:$jubilat;
		font-size: 1.375em;
		color: $main-turq;
	}

	h4, .h4 {
		font-family: $brandon;
		font-size: 1.250em;
		font-weight: 700;
		text-transform:uppercase;
		color:$dark-turq;
	}

	h5, .h5 {
		font-family:$jubilat;
		font-size: 0.846em;
		line-height: 2.09em;
		text-transform: uppercase;
		letter-spacing: 2px;
		color:$dark-turq;
	}

	padding: 1.5em 1.5em 0;

		p {
			margin: 0 0 1.5em;
		}

		table {
			width: 100%;
			border: 1px solid $gray;
			margin-bottom: 1.5em;

			caption {
				margin: 0 0 7px;
				font-size: 1.75em;
				color: $main-turq;
				font-family:$brandon;
				text-transform: uppercase;
				
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(even) {
				
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			background-color: $main-turq;
			color:$white;
			font-family: $brandon;
			text-transform:uppercase;

			&:last-child {
				border-right: 0;
			}
		}

		blockquote {
			margin: 0 0 1.5em 1.75em;
			padding: 0 0 0 0.75em;
			font-style: italic;
			color: $meta-gray;
			font-size:112.5%;
			position: relative;

			&:before {
				display: block;
				content: "\201C";
				font-size: 4.5em;
				position: absolute;
				left: -30px;
				top: -34px;
				color: $main-turq;
			}

		}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			color: $light-gray;
			font-size: 0.9em;
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

		ul, ol {
				
				margin: 0 0 1.5em 1.75em;

				li {padding:0.25em 0;}

			}

			ul { 	

				li {
					background-image: url(../images/bullet.svg);
					background-repeat: no-repeat;
					background-position: 0 8px;
					padding:3px 30px
					}
					
			}		
		
		ol { 
			
			list-style-type: none;
			
			margin: 0;
			margin-left: 3em;
			padding: 0;
			counter-reset: li-counter;

			li {
				position: relative;
				margin-bottom: 5px;
				padding-left: 0.5em;
				min-height: 0.5em;
				
				
				&:before {
				    position: absolute;
				    top: 0.2em;
				    left: -2em;
				    width: 1em;
				    height: 1em;
				     
				    font-size: 1em;
				    line-height: 1;
				    font-weight: 500;
				    text-align: center;
				    color:$white;
				    background-color:$main-turq;
				    border-radius:50%;
				    padding:5px;
				 
				    content: counter(li-counter);
				    counter-increment: li-counter;						
				}
			}

			}

		/*********************
		LARGER MOBILE DEVICES
		This is for devices like the Galaxy Note or something that's
		larger than an iPhone but smaller than a tablet. Let's call them
		tweeners.
		*********************/
		@media only screen and (min-width: 481px) {

			/* at this larger size, we can start to align images */
			.alignleft, img.alignleft {
				margin-right: 1.5em;
				display: inline;
				float: left;
			}
			.alignright, img.alignright {
				margin-left: 1.5em;
				display: inline;
				float: right;
			}
			.aligncenter, img.aligncenter {
				margin-right: auto;
				margin-left: auto;
				display: block;
				clear: both;
			}

		}


}

